body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#testConfig {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-self: flex-start;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

#mainPage,
#resultsPage {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#testsContainer {
    overflow-y: auto;
    max-width: 800px;
    margin-top: 20px;
    flex: 1;
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Wrap items to the next row if necessary */
    justify-content: space-around; /* Distribute items evenly along the row */
}

#resultsContainer {
    text-align: left;
    margin-top: 20px;
    flex: 1;
}

#showResultsButton {
    display: none;
}

#resultsPage img {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#resultsContainer {
    text-align: left;
    margin-top: 20px;
}

#backBtn,
#newTestBtn {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#backBtn {
    background-color: #e74c3c;
}

#numberOfTestsLabel {
    margin-left: 10px;
}
